
* {margin: 0;padding: 0;}

#main {margin: 30px auto;text-align: center;}

/* #main .btns {margin-bottom: 20px;} */

#main .btns button {background-color: pink;outline: none;border: none;color: #FF3399;padding: 16px 16px 16px;font-size: 20px;border-radius: 10px;margin: 0 20px 30px;cursor: pointer;}

#main .btns button.active {background-color: #FFCC99;}

table {border-spacing: 1px;margin: 0 auto;background-color: yellow;}

td {width: 30px;height: 30px;background-color: pink;border: 2px solid;border-color: #fff #a1a1a1 #a1a1a1 #fff;font-weight: bold;}

#main .info {margin-top: 20px;}

#main .content {color: red;margin-top: 20px;}

#main .gameBox td.mines {background: url(../images/3.png) no-repeat;background-size: cover;}

td.zero {border-color: #cccccc;background-color: white;}

td.one {border-color: #cccccc;background-color: white;color: blue;}

td.two {border-color: #cccccc;background-color: white;color: green;}

td.three {border-color: #cccccc;background-color:white;color: #ff2600;}

td.four {border-color: #cccccc;background-color: white;color: #93208f;}

td.five {border-color: #cccccc;background-color: white;color: #ff7f29;}

td.six {border-color: #cccccc;background-color:white;color: #ff3fff;}

td.seven {border-color: #cccccc;background-color: white;color: #3fffbf;}

td.eight {border-color: #cccccc;background-color: white;color: #22ee0f;}

td.click {background: white url(../images/1.png);background-size: cover;}  

.main {background: black url(../images/3.png);background-size: cover;border-color: white;}

.flag {background: #c0c0c0 url(../images/2.gif);background-size: cover;} 




 
